<div class="container back mt-5">
  <div class="box1">
    <h1 class="buy">購入申請完了画面</h1>
  </div>
  <div class="box1">
    <p class="buy">
      コインの購入申請しました。<br>
      購入コイン分のガバスをお振込み下さい。
    </p>
  </div>
</div>