<div class="container back mt-5">
    <div class="box1">
        <h1 class="buy">コインを購入する</h1>
    </div>
    <div class="box1">
        <div>
            <%= form_with url:buycoins_path, model: @buycoin do |f| %>
                <div class="buy text-center">
                    <%= f.text_field :piece,size:1 %>コイン
                </div>
                <div class="buy">
                    <%= f.submit "コインを購入する",class:"a-btn a-btn-border1" %>
                </div>
            <% end %>
        </div>
    <!--<p><a href="" class="btn btn--orange">PUSH</a></p>-->
    </div>
</div>