<div class="container back my-5">

  <div class="box1">
    <h1 class="buy">会員一覧</h1>
  </div>

  <div class="box1">
    <table class="pablic">
      <tr>
        <th class="t_top">会員ID</th>
        <th class="t_top">氏名</th>
        <th class="t_top">メールアドレス</th>
      </tr>
      <% @customers.each do |customer| %>
        <tr>
          <td class="t_line01"><%= customer.id %></td>
          <td class="t_line01"><%= link_to customer.name,admins_public_path(customer.id),class:"text-dark" %></td>
          <td class="t_line01"><%= customer.email %></td>
        </tr>
      <% end %>
    </table>
    <div class="mx-auto" style="text-decoration:underline;">
      <%= paginate @customers%>
    </div>
  </div>
</div>